.main {
    ._br-position(0, 0, 100%, 100%);
    .show_con {
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
    .footer_main {
        position: absolute;
        bottom: 0px;
        height: 88px;
        width: 100%;
        background-color: white;
        border-top: 1px solid #eee;
        .icon_con {
            ._br-position(0, 0, 100px, 88px);
        }
        .icon_1_con {
            left: 65px;
            &.selected {
                .icon_1 {
                    ._br-position(26px, 11px, 44px, 44px, '@{imgUrl}/main_icon1_selected.png');
                }
                .main_footer_text_1 {
                    color: @appBlue;
                }
            }
        }
        .icon_2_con {
            left: 287px;
            &.selected {
                .icon_2 {
                    ._br-position(26px, 11px, 44px, 44px, '@{imgUrl}/main_icon2_selected.png');
                }
                .main_footer_text_2 {
                    color: @appBlue;
                }
            }
        }
        .icon_3_con {
            left: 492px;
            &.selected {
                .icon_3 {
                    ._br-position(26px, 11px, 44px, 44px, '@{imgUrl}/main_icon3_selected.png');
                }
                .main_footer_text_2 {
                    color: @appBlue;
                }
            }
        }
        .icon {
            pointer-events: none;
        }
        .icon_1 {
            ._br-position(26px, 11px, 44px, 44px, '@{imgUrl}/main_icon1.png');
            background-size: 100% auto;
        }
        .icon_2 {
            ._br-position(26px, 11px, 44px, 44px, '@{imgUrl}/main_icon2.png');
            background-size: 100% auto;
        }
        .icon_3 {
            ._br-position(26px, 11px, 44px, 44px, '@{imgUrl}/main_icon3.png');
            background-size: 100% auto;
        }
        .main_footer_text {
            color: #999999;
            font-size: 20px;
            position: absolute;
            left: 7px;
            top: 56px;
            pointer-events: none;
        }
    }
    .product_fy {
        position: relative;
        .product_item {
            height: 235px;
            width: 100%;
            border-bottom: 12px solid white;
            .product_item_text {
                position: relative;
                top: 20px;
                left: 220px;
                width: 200px;
                height: 60px;
                color: white;
                font-size: 36px;
                border-radius: 6px;
                border: 1px solid white;
                text-align: center;
                line-height: 60px;
                pointer-events: none;
            }
            .product_item_text_bg {
                position: relative;
                top: 80px;
                left: 220px;
                width: 200px;
                height: 60px;
                color: white;
                font-size: 36px;
                border-radius: 6px;
                text-align: center;
                line-height: 60px;
                background-color: #333;
                opacity: 0.5;
                pointer-events: none;
            }
        }
        .spinner_product_fy {
            position: absolute;
            top: 300px;
            left: 295px;
        }
    }
    .main_fy {
        position: relative;
        .main_btn_content {
            position: relative;
            width: 100%;
            top: 16px;
        }
        .btn_fy {
            ._br-position(16px, 0px, 300px, 300px, '@{imgUrl}/main_fy.png');
            background-size: 100% auto;
        }
        .btn_active {
            ._br-position(324px, 0px, 300px, 300px, '@{imgUrl}/main_active.png');
            background-size: 100% auto;
        }
        .btn_news {
            ._br-position(16px, 678px-346px-24px, 300px, 300px, '@{imgUrl}/main_news.png');
            background-size: 100% auto;
        }
        .btn_knowledge {
            ._br-position(324px, 678px-346px-24px, 300px, 300px, '@{imgUrl}/main_knowledge.png');
            background-size: 100% auto;
        }
        .swiper-wrapper {
            width: 100%;
            height: 235px;
            position: relative;
            display: flex;
            box-sizing: content-box;
        }
        .swiper-slide {
            width: 100%;
            height: 100%;
            position: relative;
            text-align: center;
            flex-shrink: 0;
        }
        .swiper-pagination {
            bottom: 10px;
            left: 0;
            width: 100%;
            position: absolute;
            text-align: center;
        }
        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            display: inline-block;
            border-radius: 100%;
            background: #fff;
            opacity: .8;
            margin: 0 5px;
        }
        .swiper-pagination-bullet-active {
            background: @appBlue;
            opacity: .8;
        }
    }
    .profile_fy {
        background-color: @appGray;
        position: relative;
        height: 100%;
        .profile_head_con {
            background-image: url('@{imgUrl}/prolist_cover1.png');
            height: 296px;
            width: 100%;
        }
        .profile_head_img {
            height: 90px;
            width: 90px;
            position: relative;
            top: 40px;
            margin-left: 275px;
            border-radius: 90px;
            background-image: url('@{imgUrl}/main_news.png');
            background-size: 100% auto;
            border: 4px rgba(255, 255, 255, 0.5) solid;
        }
        .profile_head_nickname {
            position: relative;
            font-size: 32px;
            line-height: 45px;
            height: 45px;
            color: @appGray;
            text-align: center;
            margin-top: 40px;
        }
        .btn_linkPhone {
            width: 200px;
            height: 60px;
            background: @appOrange;
            border-radius: 6px;
            margin-left: 220px;
            font-size: 28px;
            color: #FFFFFF;
            line-height: 60px;
            text-align: center;
            margin-top: 31px;
            border: 2px solid rgba(255, 255, 255, 0.5);
        }
        .main_profile_item {
            height: 100px;
            background-color: white;
            font-size: 28px;
            color: #333333;
            line-height: 100px;
            padding-left: 24px;
            padding-right: 24px;
            border-bottom: 1px solid @appGray;
        }
        .main_profile_item_icon {
            width: 60px;
            height: 60px;
            float: left;
            margin-top: 20px;
            margin-right: 20px;
        }
        .main_profile_arrow {
            width: 20px;
            height: 20px;
            float: right;
            margin-top: 40px;
            ._br-transform(rotate(-90deg));
        }
    }
}
