<div ng-controller='active_detail_controller'>
	<div class="active_detail">
		<div class="active_detail_cont">
			<div class="active_cover_img" >
				<img src='{{active_info.s02}}' alt="">
				<div class="is_applied" ng-show='active_info.IsSignUp == 1'></div>
			</div>
			<div class="active_theme">{{active_info.Title}}</div>
			<div class="line"></div>
			<div class="active_time">
				<p class="a_title">活动时间</p>
				<p class="a_content">{{active_info.st_end_time}}</p>
			</div>
			<div class="line"></div>
			<div class="active_site">
				<p class="a_title">活动地点</p>
				<p class="a_content">{{active_info.Address}}</p>
			</div>
			<div class="line"></div>
			<div class="active_description">
				<p class="a_title">活动简介</p>
				<div class="a_content"> {{active_info.Description}}</div>
			</div>
			<div class="line"></div>
			<div class="active_sign" ng-show='active_info.IsSignUp == 1'>
				<p class="a_title">报名信息</p>
				<p class="a_content">姓名: <span class='name'>{{active_info.UserName}}</span></p>
				<p class="a_content">手机: <span class='phone'>{{active_info.Mobile}}</span></p>
				<p class="a_content" ng-if='active_info.Gender == 1'>性别: <span class='sex'>男</span></p>
				<p class="a_content" ng-if='active_info.Gender == 2'>性别: <span class='sex'>女</span></p>
				<p class="a_content">生日: <span class='birthday'>{{active_info.Birthday}}</span></p>
				<div class="apply_success"></div>
			</div>
		</div>
		
		<div class="active_detail_button" ng-hide='active_info.IsSignUp == 1' ng-click='click_apply_btn()'>我要报名</div>

		<div class="apply_view" ng-show='is_show_applyview'>
			<!-- <div class="gray_view"></div> -->
			<div class="apply_info">
				<div class="apply_name">姓名：<input type="text" ng-model='username'></div>
				<div class="apply_phone" ng-click='click_apply_phone(show_phone_menu)'>
					电话: <span>{{phonenum}}</span>
					<div class="dropdown_arrows"></div>
					
				</div>
				<div class="apply_sex">性别：
					<div class="sex_male sex_class" ng-click='isClick_male(true)'></div>
					<div class="sex_female sex_class" ng-click='isClick_male(false)'></div>
				</div>
				<div class="apply_birthday">生日：
					<div class="bir_year" ng-click='click_year()'>{{bir_year}}
						<div class="dropdown_arrows"></div>
					</div>
					<div class="bir_month" ng-click='click_month()'>{{bir_month}}
						<div class="dropdown_arrows"></div>
					</div>
					<div class="bir_day" ng-click='click_day()'>{{bir_day}}
						<div class="dropdown_arrows"></div>
					</div>
				</div>
				<div class="apply_city" ng-click='select_city()'>地区：{{area_string}}</div>

				<div class="phonedropdown_menu" ng-show='show_phone_menu'>
					<div class="phone" ng-repeat='phonenum in phonenums' ng-click='click_phone(phonenum)'>{{phonenum.Mobile}}</div>
				</div>

				<div class="birthday_view" ng-show='show_year_view || show_month_view || show_day_view'>
					<div class="year_view" ng-show='show_year_view'>
						<p class="year" ng-repeat='y in year_datas' ng-click='selected_year(y)'>{{y}}</p>
					</div>
					<div class="month_view" ng-show='show_month_view'>
						<p class="month" ng-repeat='m in month_datas' ng-click='selected_month(m)'>{{m}}</p>
					</div>
					<div class="day_view" ng-show='show_day_view'>
						<p class="day" ng-repeat='d in day_datas' ng-click='selected_day(d)'>{{d}}</p>
					</div>
				</div>

				
				
				<div class="apply_cancel" ng-click='is_apply(false)'>取消</div>
				<div class="apply_confirm" ng-click='is_apply(true)'>确定</div>
			</div>

			<div class="city_view" ng-show='provinces_show || citys_show || areas_show'>
				<div class="provinces" ng-show='provinces_show'>
					<div class="province_item" ng-click='click_province(province)' ng-repeat='province in provinces'>{{province.name}}</div>
				</div>
				<div class="citys" ng-show='citys_show'>
					<div class="citys_item" ng-click='click_city(city)' ng-repeat='city in province.sub'>{{city.name}}</div>
				</div>
				<div class="areas" ng-show='areas_show'>
					<div class="ereas_item" ng-click='click_area(area)' ng-repeat='area in city.sub'>{{area.name}}</div>
				</div>
				
			</div>
		</div>

		<div class="reminder_gray_view" ng-show='show_reminder_view' ng-click='is_show_grayview()'>
			<div class="reminder_view">
				<div class="reminder_top"></div>
				<div class="reminder_middle">
					<div class="smiling_face"></div>
					<div class="reminder_content">
						恭喜你成功报名</br><span>{{active_info.Title}}</span>活动，</br>请耐心等待，我们的工作人员会及时与您联系！
					</div>
				</div>
				<div class="reminder_bottom"></div>
			</div>
		</div>
		

	</div>
	<div class="spinner_con" ng-if="!dataGetSuccess">
        <div class="spinner spinner_product_detail">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
	
</div>
