html,
body {
    width: 640px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    background-color: white;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

@media (min-width: 768px) {
    body {
        zoom: 0.5;
    }
}

@imgUrl: '../images';
@import "../css/wbase.less";
@import "../app/main/page_main.less";
@import "../app/product/page_productList.less";
@import "../app/product/page_productDetail.less";
@import "../app/news/page_newsList.less";
@import "../app/news/page_newsDetail.less";
@import "../app/integral/page_myIntegral.less";
@import "../app/feedback/page_feedback.less";