html,
body {
    width: 640px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    background-color: white;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

@media (min-width: 768px) {
    body {
        zoom: 0.5;
    }
}

@imgUrl: '../images';
@import "../css/wbase.less";
@import "../app/main/page_main.less";
@import "../app/product/page_productList.less";
@import "../app/product/page_productDetail.less";
@import "../app/news/page_newsList.less";
@import "../app/news/page_newsDetail.less";
@import "../app/integral/page_myIntegral.less";
@import "../app/feedback/page_feedback.less";
@import "../app/active/active.less";
@import "../app/active/active_next/active_detail.less";
@import "../app/manage_money/manage_money.less";
@import "../app/member_center/my_info/my_info.less";
@import "../app/member_center/cantact_us/cantact_us.less";
@import "../app/active/active_next/active_review.less";
@import "../app/member_center/binding_mobile/binding_mobile.less";
@import "../app/about_fy/about_fy.less";
