<div class="productList" ng-controller='productListCtrl'>
    <img src="{{productCategory.s02}}" style="width: 640px;height: 296px;">
    <div class="tips"></div>
    <div class="tips_name">{{productCategory.CategoryName}}</div>
    <div class="productlist">
        <div class="product_item" ng-repeat="product in productList" ng-click='goProductDetail(product.ProductID)'>
            <div class="text_expectedIncome">{{getListIncome(product.ExpectedIncome)}}</div>
            <div class="text_expectedIncomeText">{{product.ExpectedIncomeDesc}}</div>
            <div class="line_split"></div>
            <div class="text_name">{{product.Name}}</div>
            <div class="text_IncomeType">{{getRewardType(product)}}</div>
            <div class="arrow"></div>
        </div>
    </div>
    <div class="product_content" id="product_content">
    </div>
    <div class="spinner_con" ng-if="!dataGetSuccess">
        <div class="spinner spinner_product_list">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>
