<div class="productList" ng-controller='productListCtrl'>
    <img src="{{productCategory.s02}}" style="width: 640px;height: 296px;">
    <div class="tips"></div>
    <div class="tips_name">{{productCategory.CategoryName}}</div>
    <div class="productlist">
        <div class="product_item" ng-repeat="product in productList" ng-click='goProductDetail(product.ProductID)'>
            <div class="product_item_left">
                <div class="text_name">{{product.Name}}</div>
                <div class="product_item_left_content">认购起点 <span class="text_subscriptionPoint">{{product.SubscriptionPoint}}</span></div>
                <div class="product_item_left_content">资金投向 {{product.Investment}}</div>
                <div class="product_item_tips_con">
                    <span class="product_item_tips" ng-if="product.IncomeType!=''">{{product.IncomeType}}</span>
                    <span class="product_item_tips product_item_tips_after" ng-if="product.RewardType!=''">{{product.RewardType}}</span>
                </div>
            </div>
            <div class="arrow_con">
                <div class="arrow"></div>
            </div>
        </div>
    </div>
    <div class="product_content" id="product_content">
    </div>
    <div class="spinner_con" ng-if="!dataGetSuccess">
        <div class="spinner spinner_product_list">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>
