<div ng-controller='active_controller'>
	<div class="activelist">

		<div class="active_container" >

			<div class="active_item" ng-repeat='active in all_acitves' ng-click='click_active(active)'>

				<div class="active_cover_image">
					<img src="{{active.s01}}" alt="">
				</div>

				<div class="is_applied" ng-show='active.IsSignUp==1'></div>

				<div class="active_remind">
					<div class="active_title" ng-show='active.EventStatus!=2'>{{active.Title}}</div>
					<div class="active_title" ng-show='active.EventStatus==2'>资料整理中...</div>
					<div class="active_remind_title active_start" ng-show='active.EventStatus==1'>活动进行中</div>
					<div class="active_remind_title active_end" ng-show='active.EventStatus==2'>活动已结束</div>
					<div class="active_remind_title" ng-show='active.EventStatus==3'>活动回顾</div>
				</div>
						
				

				<!-- <div class="active_end" ng-show='active.EventStatus==2'></div> -->
				
			</div>
		</div>
	</div>
	<div class="spinner_con" ng-if="!dataGetSuccess">
        <div class="spinner spinner_product_detail">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
	
</div>