<div ng-controller='my_info_controller'>
	<div class="my_info">
		<div class="info_view">
			<div class="user_bg">
				<img src="images/main_fy.png" alt="">
			</div>
			<!-- <div class="user_icon" style="background-image: url({{mg_info.HeadImgUrl}});"></div> -->
			<div class="user_icon" >
				<img src="images/main_fy.png" alt="">
			</div>

			<!-- <div class="user_nickname" ng-click='info_click(8)'>{{my_info.NickName}}</div> -->
			<div class="user_nickname">{{my_info.NickName}}</div>
			
			<div class="username info_class" ng-click='info_click(0)'>
				姓名
				<span>{{my_info.Name}}</span>
				<div class="warning" ng-show='!my_info.Name || my_info.Name.length == 0'></div>
				<div class="have_not" ng-show='!my_info.Name || my_info.Name.length == 0'>未填写</div>
				<div class="arrows"></div>
			</div>
			<div class="mobile info_class" ng-click='info_click(1)'>
				手机号
				<span>{{my_info.Mobile}}</span>
				<div class="warning" ng-show='!my_info.Mobile || my_info.Mobile.length == 0'></div>
				<div class="have_not" ng-show='!my_info.Mobile || my_info.Mobile.length == 0'>未填写</div>
				<div class="arrows"></div>
			</div>
			<div class="email info_class" ng-click='info_click(2)'>
				邮箱
				<span>{{my_info.Email}}</span>
				<div class="have_not" ng-show='!my_info.Email || my_info.Email.length == 0'>未填写</div>
				<div class="arrows"></div>
			</div>
			<div class="idcard info_class" ng-click='info_click(3)'>
				身份证
				<span>{{my_info.IDNumber}}</span>
				<div class="have_not" ng-show='!my_info.IDNumber || my_info.IDNumber.length == 0'>未填写</div>
				<div class="arrows"></div>
			</div>
			<div class="birthday info_class" ng-click='info_click(4)'>
				出生日期
				<span>{{my_info.Birthday}}</span>
				<div class="have_not" ng-show='!my_info.Birthday || my_info.Birthday.length == 0'>未填写</div>
				<div class="arrows"></div>
			</div>
			<div class="area info_class" ng-click='info_click(5)'>
				地区
				<span>{{my_info.Country +' '+ my_info.State +' '+ my_info.City}}</span>
				<div class="have_not" ng-show='!my_info.City || my_info.City.length == 0'>未填写</div>
				<div class="arrows"></div>
			</div>
			<div class="detailed_address info_class" ng-click='info_click(6)'>
				详细地址
				<span>{{my_info.Address}}</span>
				<div class="have_not" ng-show='!my_info.Address || my_info.Address.length == 0'>未填写</div>
				<div class="arrows"></div>
			</div>
			<div class="postcode info_class" ng-click='info_click(7)'>
				邮编
				<span>{{my_info.Zip}}</span>
				<div class="have_not" ng-show='!my_info.Zip || my_info.Zip.length == 0'>未填写</div>
				<div class="arrows"></div>
			</div>
		</div>
		
		<div class="input_view" ng-show='show_arr[0].show_input || show_arr[1].show_input || show_arr[2].show_input || show_arr[3].show_input || show_arr[4].show_input || show_arr[5].show_input || show_arr[6].show_input || show_arr[7].show_input || show_arr[8].show_input'>
			<!-- <div class="input_name input_class" ng-show='show_arr[8].show_input'>昵称：<input type="text" ng-model='temp_info.NickName'></div> -->
			<div class="input_name input_class" ng-show='show_arr[0].show_input'>姓名：<input type="text" ng-model='temp_info.Name'></div>
			<div class="input_mobile input_class" ng-show='show_arr[1].show_input'>手机号：<input type="text" ng-model='temp_info.Mobile'></div>
			<div class="input_email input_class" ng-show='show_arr[2].show_input'>邮箱：<input type="email" ng-model='temp_info.Email'></div>
			<div class="input_idcard input_class" ng-show='show_arr[3].show_input'>身份证：<input type="text" ng-model='temp_info.IDNumber'></div>
			<div class="input_birthday input_class" ng-show='show_arr[4].show_input'>
				出生日期
				<!-- <input type="text"> -->
				<div class="bir_year" ng-click='click_year()'>{{bir_year}}
					<div class="dropdown_arrows"></div>
				</div>
				<div class="bir_month" ng-click='click_month()'>{{bir_month}}
					<div class="dropdown_arrows"></div>
				</div>
				<div class="bir_day" ng-click='click_day()'>{{bir_day}}
					<div class="dropdown_arrows"></div>
				</div>

				<div class="birthday_view" ng-show='show_year_view || show_month_view || show_day_view'>
					<div class="year_view" ng-show='show_year_view'>
						<p class="year" ng-repeat='y in year_datas' ng-click='selected_year(y)'>{{y}}</p>
					</div>
					<div class="month_view" ng-show='show_month_view'>
						<p class="month" ng-repeat='m in month_datas' ng-click='selected_month(m)'>{{m}}</p>
					</div>
					<div class="day_view" ng-show='show_day_view'>
						<p class="day" ng-repeat='d in day_datas' ng-click='selected_day(d)'>{{d}}</p>
					</div>
				</div>

			</div>
			<div class="input_area input_class" ng-show='show_arr[5].show_input' ng-click='select_city()'>地区：{{temp_info.Country +' '+ temp_info.State +' '+ temp_info.City}}</div>
			<div class="input_detail_address input_class" ng-show='show_arr[6].show_input'>详细地址：<input type="text" ng-model='temp_info.Address'></div>
			<div class="input_postcard input_class" ng-show='show_arr[7].show_input'>邮编：<input type="text" ng-model='temp_info.Zip'></div>
			
			<div class="input_cancel" ng-click='is_change(false)'>取消</div>
			<div class="input_confirm" ng-click='is_change(true)'>确定</div>
			
			<div class="city_view" ng-show='provinces_show || citys_show || areas_show'>
				<div class="provinces" ng-show='provinces_show'>
					<div class="province_item" ng-click='click_province(province)' ng-repeat='province in provinces'>{{province.name}}</div>
				</div>
				<div class="citys" ng-show='citys_show'>
					<div class="citys_item" ng-click='click_city(city)' ng-repeat='city in province.sub'>{{city.name}}</div>
				</div>
				<div class="areas" ng-show='areas_show'>
					<div class="ereas_item" ng-click='click_area(area)' ng-repeat='area in city.sub'>{{area.name}}</div>
				</div>
				
			</div>
		</div>
		

	</div>
	<div class="spinner_con" ng-if="!dataGetSuccess">
        <div class="spinner spinner_product_detail">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
	
</div>